@charset "utf-8";
*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
// 全局变量
// 行高变量
@line-height:40px;
 // 字体颜色
@color:#b0b0b0;
@font-size:12px;

.container{
    width: 1226px;
    padding: 0;
    margin-right: auto;
    margin-left: auto;
}

// 轮播图
.slideshow{
    .carousel-control{
        position: absolute;
        top:0;
        bottom: 0;
        left: 174px;
    }
    .left{
        background-image: none;
    }
}


// 产品推荐
.home-recommend{
    // position: relative;
    margin-bottom: 24px;
    .container{
        .home-recommend-sub{
            margin-top: 14px;
            .span4{
                width:234px;
                float: left;
                margin-left: 14px;
                .home-list_left{
                    padding: 3px;
                    list-style: none;
                    font-size: @font-size;
                    text-align: center;
                    background-color: #5f5750;
                    overflow: hidden;
                    li{
                        width: 70px;
                        height:82px;
                        padding: 0 3px;
                        float: left;
                        margin: 3px;
                        position: relative;
                        .home-span_top{
                            position: absolute;
                            top: 0;
                            left: 6px;
                            width: 64px;
                            height: 1px;
                            background-color: #665e57;
                        }
                        a{
                            color: #fff;
                            opacity: .7;
                            display: block;
                            padding-top: 18px;
                            text-decoration: none;
                            img{
                                width: 24px;
                                height: 24px;
                                margin: 0 auto 4px;
                                display: block;
                            }
                        }
                        .home-span_left{
                            position: absolute;
                            top:6px;
                            left: 0;
                            width: 1px;
                            height: 75px;
                            background-color: #665e57;
                        }
                    }
                    
                }
            }
            .span6{
                width: 978px;
                float: left;
                margin-left: 14px;
                .home-list_right{
                    list-style: none;
                    overflow: hidden;
                    margin-bottom: 0;
                    li{
                        width: 316px;
                        // height: 176px;
                        float: left;
                        margin-left: 15px;
                        a{
                            // height: 176px;
                            display: block;
                            img{
                                width: 316px;
                                height: 181px;
                                display: block;
                            }
                        }
                    }
                    .home-list_no{
                        margin-left: 0;
                    }
                }
            }
        }
    }
}
