@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 1226px;
  padding: 0;
  margin-right: auto;
  margin-left: auto;
}
#app .shopping-top {
  font-size: 12px;
  border-bottom: 2px solid #ff6700;
  background-color: #fff;
  color: #b0b0b0;
  height: 100px;
}
#app .shopping-top .container {
  padding: 0;
}
#app .shopping-top .container .top-logo {
  width: 55px;
  height: 55px;
  background-color: #ff6700;
  display: block;
  margin-top: 26px;
  float: left;
  margin-right: 50px;
  background-image: url(../../img/mi-logo.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
#app .shopping-top .container .top-logo:hover {
  background-image: url(../../img/mi-home.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transition: all 0.2s;
}
#app .shopping-top .container h2 {
  margin-top: 26px;
  float: left;
  line-height: 48px;
  font-size: 28px;
  color: #333;
}
#app .shopping-top .container p {
  float: left;
  margin-top: 20px;
  margin-left: 15px;
  color: #757575;
  line-height: 55px;
}
#app .shopping-top .container .right {
  float: right;
  height: 40px;
  line-height: 40px;
  margin-top: 26px;
}
#app .shopping-top .container .right .link {
  color: #b0b0b0;
  padding: 0 5px;
  text-align: center;
}
#app .shopping-center {
  padding: 38px 0;
  background-color: #f5f5f5;
}
#app .shopping-center .container {
  width: 1262px;
  margin: 0;
}
#app .shopping-center .container .cart-top {
  background-color: #fff;
}
#app .shopping-center .container .cart-top .cart-top_head {
  height: 70px;
  line-height: 70px;
  color: #424242;
  border-bottom: 1px solid #e0e0e0;
}
#app .shopping-center .container .cart-top .cart-top_head .top_head_left {
  width: 110px;
  float: left;
}
#app .shopping-center .container .cart-top .cart-top_head .top_head_left .checkbox {
  display: inline-block;
  width: 18px;
  height: 18px;
  line-height: 18px;
  border: 1px solid #e0e0e0;
  margin-left: 24px;
  background-color: #fff;
  font-size: 12px;
  text-align: center;
  margin-right: 24px;
}
#app .shopping-center .container .cart-top .cart-top_head .col-img {
  width: 120px;
  float: left;
}
#app .shopping-center .container .cart-top .cart-top_head .col-name {
  width: 380px;
  float: left;
}
#app .shopping-center .container .cart-top .cart-top_head .col-price {
  width: 132px;
  float: left;
  padding-right: 18px;
  text-align: center;
  color: #424242;
}
#app .shopping-center .container .cart-top .cart-body {
  padding: 15px 26px 15px 0;
}
#app .shopping-center .container .cart-top .cart-body .item-table {
  width: 100%;
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
}
#app .shopping-center .container .cart-top .cart-body .item-table .item-row {
  display: table-row;
}
#app .shopping-center .container .cart-top .cart-body .item-table .item-row .item {
  display: table-cell;
  vertical-align: middle;
}
#app .shopping-center .container .cart-top .cart-body .item-table .item-row .item .checkbox {
  display: inline-block;
  width: 18px;
  height: 18px;
  line-height: 18px;
  border: 1px solid #e0e0e0;
  margin-left: 24px;
  background-color: #fff;
  font-size: 12px;
  text-align: center;
  margin-right: 24px;
}
#app .shopping-center .container .cart-top .cart-body .item-table .item-row .check {
  width: 110px;
}
#app .shopping-center .container .cart-top .cart-body .item-table .item-row .item-img {
  width: 80px;
  height: 80px;
  padding-right: 40px;
}
#app .shopping-center .container .cart-top .cart-body .item-table .item-row .item-img a {
  text-decoration: none;
  color: #757575;
  overflow: hidden;
}
#app .shopping-center .container .cart-top .cart-body .item-table .item-row .item-img a img {
  width: 80px;
  height: 80px;
}
#app .shopping-center .container .cart-top .cart-body .item-table .item-row .item_name {
  width: 380px;
}
#app .shopping-center .container .cart-top .cart-body .item-table .item-row .item_name a {
  color: #424242;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
}
#app .shopping-center .container .cart-top .cart-body .item-table .item-row .item-price {
  width: 140px;
  padding-right: 18px;
}
#app .shopping-center .container .cart-top .cart-body .item-table .item-row .item-price p {
  font-size: 16px;
  text-align: center;
  color: #424242;
}
#app .shopping-center .container .cart-top .cart-body .item-table .item-row .item-num {
  width: 150px;
}
#app .shopping-center .container .cart-top .cart-body .item-table .item-row .item-num .item-goods-num {
  width: 148px;
  height: 38px;
  border: 1px solid #e0e0e0;
  background: #fff;
  text-align: center;
  color: #424242;
}
#app .shopping-center .container .cart-top .cart-body .item-table .item-row .item-num .item-goods-num a {
  width: 38px;
  height: 38px;
  line-height: 38px;
  color: #757575;
  font-size: 20px;
  text-decoration: none;
  float: left;
}
#app .shopping-center .container .cart-top .cart-body .item-table .item-row .item-num .item-goods-num .goods-num {
  width: 70px;
  height: 35px;
  line-height: 38px;
  padding: 0;
  border-width: 0;
  color: #424242;
  font-size: 16px;
  text-align: center;
  float: left;
}
#app .shopping-center .container .cart-top .cart-body .item-table .item-row .item-total {
  width: 140px;
  text-align: center;
}
#app .shopping-center .container .cart-top .cart-body .item-table .item-row .item-total p {
  font-size: 16px;
  text-align: center;
  color: #ff6700;
}
#app .shopping-center .container .cart-top .cart-body .item-table .item-row .item-action {
  width: 80px;
  text-align: center;
}
#app .shopping-center .container .cart-top .cart-body .item-table .item-row .item-action .del {
  display: inline-block;
  width: 24px;
  height: 24px;
  text-align: center;
  line-height: 24px;
  border-radius: 12px;
  color: #757575;
  font-size: 16px;
  text-decoration: none;
}
#app .shopping-center .container .cart-bottom {
  height: 50px;
  margin-top: 20px;
  text-align: center;
  background-color: #fff;
}
#app .shopping-center .container .cart-bottom .bootom-left {
  float: left;
}
#app .shopping-center .container .cart-bottom .bootom-left .back {
  line-height: 50px;
  margin-left: 32px;
  color: #424242;
  text-decoration: none;
}
#app .shopping-center .container .cart-bottom .bootom-left .back-span {
  margin-left: 16px;
  padding-left: 16px;
  border-left: 1px solid #eee;
  color: #757575;
}
#app .shopping-center .container .cart-bottom .bootom-left .back-span i {
  color: #ff6700;
}
#app .shopping-center .container .cart-bottom .total-price {
  display: block;
  float: right;
  padding-left: 13px;
  color: #ff6700;
}
#app .shopping-center .container .cart-bottom .total-price .price-btn {
  width: 200px;
  height: 48px;
  line-height: 48px;
  font-size: 18px;
  margin-left: 50px;
  background-color: #e0e0e0;
  color: #b0b0b0;
  display: inline-block;
  text-decoration: none;
}
#app .shopping-center .container .cart-recommend {
  margin-top: 60px;
}
#app .shopping-center .container .cart-recommend .recommend-title {
  position: relative;
  margin: 0;
  height: 50px;
  font-size: 30px;
  font-weight: 400;
  color: #757575;
  border-top: 1px solid #e0e0e0;
}
#app .shopping-center .container .cart-recommend .recommend-title span {
  position: absolute;
  top: -20px;
  left: 372px;
  width: 482px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  display: block;
  background-color: #f5f5f5;
}
#app .shopping-center .container .cart-recommend .recommend-db {
  overflow: hidden;
}
#app .shopping-center .container .cart-recommend .recommend-db .list {
  overflow: hidden;
}
#app .shopping-center .container .cart-recommend .recommend-db .list .recommend-item {
  width: 232px;
  height: 300px;
  margin: 0 0 14px 14px;
  padding: 0;
  float: left;
  list-style: none;
  background-color: #fff;
  text-align: center;
  position: relative;
}
#app .shopping-center .container .cart-recommend .recommend-db .list .recommend-item a {
  display: block;
  text-decoration: none;
}
#app .shopping-center .container .cart-recommend .recommend-db .list .recommend-item a img {
  display: block;
  width: 140px;
  height: 140px;
  margin: 40px auto 26px;
}
#app .shopping-center .container .cart-recommend .recommend-db .list .recommend-item a .recommend-name {
  margin: 0 10px 10px;
  height: 18px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #333;
}
#app .shopping-center .container .cart-recommend .recommend-db .list .recommend-item a .recommend-price {
  margin-bottom: 10px;
  color: #ff5600;
}
#app .shopping-center .container .cart-recommend .recommend-db .list .recommend-item a .recommend-tips {
  color: #757575;
}
#app .shopping-center .container .cart-recommend .recommend-db .list .recommend-item .nobox {
  display: none;
}
#app .shopping-center .container .cart-recommend .recommend-db .list .recommend-item .nobox .shpping {
  background-color: #fff;
  position: absolute;
  bottom: 11px;
  left: 62px;
  display: block;
  padding: 1px 19px;
  color: #ff6500;
  border: 1px solid #ff6500;
}
#app .shopping-center .container .cart-recommend .recommend-db .list .recommend-item .nobox:hover > .shpping {
  color: #fff;
  background-color: #ff6700;
}
#app .shopping-center .container .cart-recommend .recommend-db .list .recommend-item:hover > .nobox {
  display: block;
  transition: all 0.7s;
  color: #fff;
}
